<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Report Something</title>
    <% include _main %>
    <link rel="stylesheet" href="/css/chat.css">
</head>

<body>
    <div class="arc-container-main">
        <div class="arc-profile-header">
            <div class="title">
                <div class="arc-profile-title">
                    <h2>Chat With Us</h2>
                </div>
            </div>
        </div>
        <div class="data-link-container">
            <div class="options br-down">
                <h4><a href="https://api.whatsapp.com/send?phone=971552038291&text=EMERGENCY%3a%20Hi%2c%20Welcome%20to%20arcab%20chat.%20Please%20type%20your%20name%20and%20message%20below%3a&source=&data=">Emergency(For Real)</a></h4>
            </div>
            <div class="options br-down">
                <h4><a href="https://api.whatsapp.com/send?phone=971552038291&text=SERVICE%3a%20Hi%2c%20Welcome%20to%20arcab%20chat.%20Please%20type%20your%20name%20and%20message%20below%3a&source=&data=">Ride / Service</a> </h4>
            </div>
            <div class="options br-down">
                <h4><a href="https://api.whatsapp.com/send?phone=971552038291&text=PAYMENT%3a%20Hi%2c%20Welcome%20to%20arcab%20chat.%20Please%20type%20your%20name%20and%20message%20below%3a&source=&data=">Pass / Payment</a></h4>
            </div>
            <div class="options br-down">
                <h4><a href="https://api.whatsapp.com/send?phone=971552038291&text=Lost/Found%3a%20Hi%2c%20Welcome%20to%20arcab%20chat.%20Please%20type%20your%20name%20and%20message%20below%3a&source=&data=">Lost / Found</a></h4>
            </div>
            <div class="options br-down">
                <h4><a href="https://api.whatsapp.com/send?phone=971552038291&text=Other%3a%20Hi%2c%20Welcome%20to%20arcab%20chat.%20Please%20type%20your%20name%20and%20message%20below%3a&source=&data=
                    ">Other</a></h4>
            </div>
            <div class="explain">
                <p>arcab is committed to helping you, when you need it. You will be redirected to  WhatsApp Messenger to
                    begin this chat.</p>
            </div>
        </div>


        <div class="bottom-actions">
            <a href="/options"><img class="back-button" src="/img/back.svg"></a>
        </div>
    </div>
</body>

</html>