<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Got Questions?</title>
    <% include _main %>
    <link rel="stylesheet" href="/css/gotQ.css">
</head>

<body>
    <div class="arc-container-main">
        <div class="arc-profile-header">
            <div class="arc-profile-title">
                <h2>Got Questions?</h2>
            </div>
        </div>
        <div class="data-link-container">
           
        </div>


        <div class="bottom-actions">
            <a href="/options"><img class="back-button" src="/img/back.svg"></a>
        </div>
    </div>
</body>

</html>