<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>okay</title>
    <% include _main %>
    <link rel="stylesheet" href="/css/okaythen.css">
</head>

<body>
    <div class="arc-container-main">
        <div class="arc-profile-header">
            <div class="title">
                <h2>Okay Then</h2>
            </div>
        </div>
        <div class="data-link-container">
            <div class="privacy">
                <h3>Privacy</h3>
                <p>At arcab we value your privacy above everything else. We are upfront about protecting your
                    information and allow you to choose what you share. You may control your preferences in settings.
                </p>
            </div>
            <div class="safety">
                <h3>Safety</h3>
                <p>We’re commited to building a community that is safe for everyone to move together. You will be asked
                    to verify your official government ID later on.</p>
                <p>Knowing that everyone is on board with our mission helps us achieve what we set out for - building a
                    platform based on communities.</p>
            </div>

            <div class="confirmation">
                <p>I agree to treat everyone in the arcab community with respect and without bias.</p>
                <p>I agree to accept the arcab Privacy & Safety Policy, Payments Policy, Terms of Use.</p>
            </div>

            <div class="button-decline">
                <div class="decline">
                    <h4><span>DECLINE</span></h4>
                </div>
            </div>
        </div>

        <div class="bottom-actions">
            <img src="/img/close.svg">
            <div class="right-box">
                <h4><span class="accept-policy">ACCEPT</span></h4>
            </div>
        </div>
    </div>
</body>
<script src="/js/login.js"></script>
<script src="/js/models/FirebaseUser.js"></script>

</html>