<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome</title>
    <% include _main %>
    <link rel="stylesheet" href="/css/onboarding.css">
</head>
<body>
    <div class="arc-container-main">
        <div class="arc-profile-header">
            <div class="title">
                <h2>Welcome to arcab</h2>
            </div>
        </div>
        <div class="data-link-container">
            <h3>Next Steps</h3>
            <div class="steps">
                <h4>Verify your identity</h4>
                <h6>Scan your Emirates ID</h6>
            </div>
            <div class="steps">
                <h4>Explore & join routes</h4>
                <h6>Find your daily commute</h6>
            </div>
            <div class="steps">
                <h4>Recharge your pass</h4>
                <h6>Top up your account</h6>
            </div>
            <div class="steps">
                <h4>Select the time everyday</h4>
                <h6>Tell us when you want to commute</h6>
            </div>

        
        </div>
        <div class="bottom-actions">
            <button><a href="/profile">GET STARTED</a></button>   
           
        </div>
    </div>
</body>
</html>