<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,  user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Options</title>
    <% include _main %>
    <link rel="stylesheet" href="/css/options.css">
</head>

<body>
    <div class="container-main">

        <div class="arc-container-options">
            <div class="arc-profile-header">
                <div class="arc-profile-title">
                    <h2>Options</h2>
                </div>
            </div>
            <div class="data-link-container">

                <div data-link="/options/gotquestions" class="content-bottom">
                    <div class="option1">
                        <h4><a href="mailto:hello@arcab.ae?subject=arcab%20Support%20&?body=Write%20your%20question%20below%20and%20our%20team%20will%20get%20back%20to%20you%20shortly.">Got Questions?</a></h4>
                    </div>
                    <div class="icon-only">
                        <img src="/img/whatthe.svg">
                    </div>
                </div>
                <div data-link="#" class="content-bottom">
                    <div class="option1">
                        <h4><a href="https://wa.me/97144554959?text=I%20would%20like%20transportation%0AFrom:%0ATo:%0ADays:%0ATiming:%0ANumber%20of%20People:">Tell Us Your Route</a></h4>
                    </div>
                    <div class="icon-only">
                        <img src="/img/locationMap.svg">
                    </div>
                </div>
                <div data-link="/options/chat" class="content-bottom">
                    <div class="option1">
                        <h4>Chat With Us</h4>
                    </div>
                    <div class="icon-only">
                        <img src="/img/chatWithUs.svg">
                    </div>
                </div>
                <div data-link="/options/report" class="content-bottom">
                    <div class="option1">
                        <h4>Report Something</h4>
                    </div>
                    <div class="icon-only">
                        <img src="/img/reportSomething.svg">
                    </div>
                </div>
                <div data-link="/options/legal" class="content-bottom">
                    <div class="option1">
                        <h4>Legal Stuff</h4>
                    </div>
                    <div class="icon-only">
                        <img src="/img/legal.svg">
                    </div>
                </div>
                <div data-link="logout" class="content-bottom">
                    <div class="option1">
                        <h4>Log Out</h4>
                    </div>
                    <div class="icon-only">
                        <img src="/img/logout.svg">
                    </div>
                </div>
            </div>
            <div class="bottom-actions">
                <img class="back-button" src="/img/back.svg">
            </div>
        </div>
    </div>

</body>

<script src="/js/options.js"></script>

</html>