<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Privacy & Safety</title>
    
    <%# include _main %>
    
        <%# MAIN CSS %>
        <link rel="stylesheet" href="/css/main.css">

        <%# FONT AWESOME %>
        <script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js" integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ" crossorigin="anonymous"></script>

        <%# jQuery %>
        <script src="/js/jq.js"></script>

        <%# GSAP %>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TweenMax.min.js"></script>

        <%# DISABLE ZOOM %>
        <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0' >

        <%# Firebase App, Auth and Firestore %>
        <script defer src="https://www.gstatic.com/firebasejs/6.2.0/firebase-app.js"></script>
        <!-- <script defer src="https://www.gstatic.com/firebasejs/6.2.0/firebase-auth.js"></script> -->
        <script defer src="https://www.gstatic.com/firebasejs/6.2.0/firebase-firestore.js"></script>
        <script defer src="https://www.gstatic.com/firebasejs/6.2.0/firebase-functions.js"></script>
        <script defer src="https://www.gstatic.com/firebasejs/6.2.4/firebase-storage.js"></script>


        <script defer src="/js/init-firebase.js"></script>
    
    
    <link rel="stylesheet" href="/css/privacy.css">
</head>

<body>
    <div class="arc-container-main">
        <div class="arc-profile-header">
            <div class="title">
                <h2>Privacy & Safety</h2>
            </div>
        </div>
        <div class="data-link-container">
            <div class="privacy">
                <h3>Arcab Safety Policy</h3>
                <p>Arcab is a community that connects you through moving experiences every day, and we want that to
                    happen as safely and securely as possible. Protecting users from injury, whether it be mental or
                    physical is a major continuing objective. Arcab will make every effort to provide an enjoyable and
                    safe journey by periodically screening Drivers and using technology that will make sure your
                    location is known at all times in the event of an emergency.
                </p>
                <p>
                    Please follow these guidelines to ensure that every ride with Arcab is a safe one.
                    1. Always wear your seatbelt - This is the most effective way to minimize risk and injury associated
                    with car related accidents.
                    2. Call the cops – While you are riding with Arcab, in the event that there is a car accident, a
                    fire, a complaint against a co-passenger, or any other cause which might require the help of law
                    enforcement, we strongly encourage that you let the police department of the UAE know. They can be
                    reached on their emergency number at 999.
                    3. Keep Arcab in the loop – Once the appropriate law enforcement authorities are contacted in the
                    event of an emergency, keep Arcab informed by letting us know at hello@arcab.ae to ensure that any and
                    all steps are taken to prevent it from happening again.
                    4. Children must be accompanied by an adult – Only adults who are over the minimum age requirement
                    are entitled to hold an Arcab user account. If a child is using your account, please ensure they are
                    accompanied by an adult at all times.
                    5. In order for everyone to have an enjoyable, comfortable and safe ride with Arcab, we request that
                    the following instructions in collaboration with local law be adhered to. Failure to comply with
                    these instructions could lead to the loss of access to the Arcab application.
                    Do not engage in behavior involving violence, discrimination, sexual misconduct, harassment or any
                    other illegal activity.
                    Do not engage in inappropriate physical contact with the Driver or other passengers.
                    Do not damage or steal the property of the Driver or other passengers.
                    Do not make use of inappropriate and abusive language or gestures.
                    Do not bring in any fire arms, illegal substance or paraphernalia.
                    6. Provide Feedback – Please rate your journey at the end of your trip. Honest communication about
                    the services provided will ensure that everyone is held accountable for their behavior and
                    performance.
                    7. Respect the space of other passengers – While it’s alright to make conversation with those around
                    you when riding with Arcab, we request that you refrain from asking questions or making comments
                    that might make other passengers feel uncomfortable. Additionally, we request that you keep your
                    voice low when you have to make a phone call as talking loudly can be a disturbance to both the
                    driver and other riders.
                    8. Clean up after yourself – In order to ensure that everyone has a pleasant and comfortable journey
                    with Arcab, it is important that all the vehicles remain in clean and good conditions. This requires
                    you to clean up any mess or clutter you have made within the vehicle before you exit it.
                    This safety policies applies to all persons who have downloaded the Arcab mobile application and
                    have signed up to be a User of the services the application facilitates.

                </p>
            </div>

            <div class="bottom-actions">
                    <a href="/options/legal"><img src="/img/back.svg"></a>

            </div>
        </div>
</body>


</html>
