<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Terms of Use</title>
    
    <%# include _main %>
    
        <%# MAIN CSS %>
        <link rel="stylesheet" href="/css/main.css">

        <%# FONT AWESOME %>
        <script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js" integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ" crossorigin="anonymous"></script>

        <%# jQuery %>
        <script src="/js/jq.js"></script>

        <%# GSAP %>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TweenMax.min.js"></script>

        <%# DISABLE ZOOM %>
        <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0' >

        <%# Firebase App, Auth and Firestore %>
        <script defer src="https://www.gstatic.com/firebasejs/6.2.0/firebase-app.js"></script>
        <!-- <script defer src="https://www.gstatic.com/firebasejs/6.2.0/firebase-auth.js"></script> -->
        <script defer src="https://www.gstatic.com/firebasejs/6.2.0/firebase-firestore.js"></script>
        <script defer src="https://www.gstatic.com/firebasejs/6.2.0/firebase-functions.js"></script>
        <script defer src="https://www.gstatic.com/firebasejs/6.2.4/firebase-storage.js"></script>


        <script defer src="/js/init-firebase.js"></script>
        
    <link rel="stylesheet" href="/css/terms.css">
</head>

<body>
    <div class="arc-container-main">
        <div class="arc-profile-header">
            <div class="title">
                <h2>Terms of Use</h2>
            </div>
        </div>
        <div class="data-link-container">
            <div class="privacy">
                <h3>PLEASE READ THESE TERMS AND CONDITIONS CAREFULLY BEFORE ACCESSING OR USING THESE SERVICES.</h3>
                <h3>AGREEMENT TO TERMS</h3>
                <p>These Terms of use constitute a legally binding agreement made between you and Arcab Mobility FZ LLC
                    (“we,” “us”, “our” or “Arcab”), and govern the access or use of the Arcab mobile application,
                    website, content and services. You agree that by accessing the aforementioned mobile application,
                    you have read, understood, and agree to be bound by all of these Terms and Conditions. IF YOU DO NOT
                    AGREE WITH ALL OF THESE TERMS and CONDITIONS, THEN YOU ARE EXPRESSLY PROHIBITED FROM USING THIS
                    APPLICATION AND YOU MUST DISCONTINUE USE IMMEDIATELY.
                    We reserve the right, in our sole discretion, to make changes or modifications to these Terms and
                    Conditions at any time and for any reason. We will alert you about any changes by updating the “Last
                    updated” date of these Terms and Conditions and you waive any right to receive specific notice of
                    each such change. It is your responsibility to periodically review these Terms and Conditions to
                    stay informed of updates. You will be subject to and will be deemed to have been made aware of and
                    to have accepted, the changes in any revised Terms and Conditions by your continued use of the
                    Mobile application after the date such revised Terms are posted.
                </p>
                <h3>THE SERVICES</h3>
                <p>The Services constitute a technology platform that enables users of Arcab’s mobile application or
                    website provided as part of the Services to arrange and schedule transportation services with
                    independent third-party providers of such services, including independent third-party transportation
                    providers under agreement with Arcab or Arcab’s affiliates. Unless otherwise agreed by Arcab in a
                    separate written agreement with you, the Services are made available solely for your personal and
                    noncommercial use. YOU ACKNOWLEDGE THAT ARCAB DOES NOT PROVIDE TRANSPORTATION OR LOGISTICS SERVICES
                    OR FUNCTION AS A TRANSPORTATION CARRIER AND THAT ALL SUCH TRANSPORTATION OR LOGISTICS SERVICES ARE
                    PROVIDED BY INDEPENDENT THIRD-PARTY CONTRACTORS WHO ARE NOT EMPLOYED BY ARCAB OR ANY OF ITS
                    AFFILIATES.
                </p>
                <h3>LICENSE</h3>
                <P>Subject to your compliance with these Terms, Arcab grants you a limited, non-exclusive,
                    non-sublicensable, revocable, non-transferrable license to: (i) access and use the Applications on
                    your personal device solely in connection with your use of the Services; and (ii) access and use any
                    content, information and related materials that may be made available through the Services, in each
                    case solely for your personal and noncommercial use. Any rights not expressly granted herein are
                    reserved by Arcab and Arcab’s licensors.</P>
                <h3>RESTRICTIONS</h3>
                <P>You may not: (i) remove any copyright, trademark or other proprietary notices from any portion of the
                    Services; (ii) reproduce, modify, prepare derivative works based upon, distribute, license, lease,
                    sell, resell, transfer, publicly display, publicly perform, transmit, stream, broadcast or otherwise
                    exploit the Services except as expressly permitted by Arcab; (iii) decompile, reverse engineer or
                    disassemble the Services except as may be permitted by applicable law; (iv) link to, mirror or frame
                    any portion of the Services; (v) cause or launch any programs or scripts for the purpose of
                    scraping, indexing, surveying, or otherwise data mining any portion of the Services or unduly
                    burdening or hindering the operation and/or functionality of any aspect of the Services; or (vi)
                    attempt to gain unauthorized access to or impair any aspect of the Services or its related systems
                    or networks.</P>
                <h3>OWNERSHIP</h3>
                <P>The Services and all rights therein are and shall remain Arcab’s property or the property of Arcab’s
                    licensors. Neither these Terms nor your use of the Services convey or grant to you any rights: (i)
                    in or related to the Services except for the limited license granted above; or (ii) to use or
                    reference in any manner Arcab’s company names, logos, product and service names, trademarks or
                    services marks or those of Arcab’s licensors.</P>
                <h3>YOUR USE OF SERVICES</h3>
                <p>User Accounts. In order to use most aspects of the Services, you must register for and maintain an
                    active personal user Services account. You must be at least 18 years of age to obtain an Account.
                    Account registration requires you to submit to Arcab certain personal information, such as your
                    name, address, mobile phone number and age. You agree to maintain accurate, complete, and up-to-date
                    information in your Account. You are responsible for all activity that occurs under your Account,
                    and you agree to maintain the security and secrecy of your Account username and password at all
                    times. Unless otherwise permitted by Arcab in writing, you may only possess one Account.
                    User Requirements and Conduct. The Service is not available for use by persons under the age of 18.
                    You may not authorize third parties to use your Account, and you may not allow persons under the age
                    of 18 to receive transportation or logistics services from Third Party Providers unless they are
                    accompanied by you. You may not assign or otherwise transfer your Account to any other person or
                    entity. You agree to comply with all applicable laws when using the Services, and you may only use
                    the Services for lawful purposes (e.g., no transport of unlawful or hazardous materials). You will
                    not, in your use of the Services, cause nuisance, annoyance, inconvenience, or property damage,
                    whether to the Third-Party Provider or any other party. In certain instances you may be asked to
                    provide proof of identity to access or use the Services, and you agree that you may be denied access
                    to or use of the Services if you refuse to provide proof of identity.
                    Text Messaging. By creating an Account, you agree that the Services may send you text (SMS) messages
                    as part of the normal business operation of your use of the Services. You may opt-out of receiving
                    text (SMS) messages from Arcab at any time by following the directions provided by Arcab. You
                    acknowledge that opting out of receiving text (SMS) messages may impact your use of the Services.
                    Promotional Codes. Arcab may, in Arcab’s sole discretion, create promotional codes that may be
                    redeemed for Account credit, or other features or benefits related to the Services and/or a Third
                    Party Provider’s services, subject to any additional terms that Arcab establishes on a promotional
                    code basis. You agree that Promo Codes: (i) must be used for the intended audience and purpose, and
                    in a lawful manner; (ii) may not be duplicated, sold or transferred in any manner, or made available
                    to the general public (whether posted to a public form or otherwise), unless expressly permitted by
                    Arcab; (iii) may be disabled by Arcab at any time for any reason without liability to Arcab; (iv)
                    may only be used pursuant to the specific terms that Arcab establishes for such Promo Code; (v) are
                    not valid for cash; and (vi) may expire prior to your use. Arcab reserves the right to withhold or
                    deduct credits or other features or benefits obtained through the use of Promo Codes by you or any
                    other user in the event that Arcab determines or believes that the use or redemption of the Promo
                    Code was in error, fraudulent, illegal, or in violation of the applicable Promo Code terms or these
                    Terms.
                    User Provided Content. Arcab may, in Arcab’s sole discretion, permit you from time to time to
                    submit, upload, publish or otherwise make available to Arcab through the Services textual, audio,
                    and/or visual content and information, including commentary and feedback related to the Services,
                    initiation of support requests, and submission of entries for competitions and promotions. Any User
                    Content provided by you remains your property. However, by providing User Content to Arcab, you
                    grant Arcab a worldwide, perpetual, irrevocable, transferrable, royalty-free license, with the right
                    to sublicense, to use, copy, modify, create derivative works of, distribute, publicly display,
                    publicly perform, and otherwise exploit in any manner such User Content in all formats and
                    distribution channels now known or hereafter devised (including in connection with the Services and
                    Arcab’s business and on third-party sites and services), without further notice to or consent from
                    you, and without the requirement of payment to you or any other person or entity.
                    You represent and warrant that: (i) you either are the sole and exclusive owner of all User Content
                    or you have all rights, licenses, consents and releases necessary to grant Arcab the license to the
                    User Content as set forth above; and (ii) neither the User Content nor your submission, uploading,
                    publishing or otherwise making available of such User Content nor Arcab’s use of the User Content as
                    permitted herein will infringe, misappropriate or violate a third party’s intellectual property or
                    proprietary rights, or rights of publicity or privacy, or result in the violation of any applicable
                    law or regulation. You agree to not provide User Content that is defamatory, libelous, hateful,
                    violent, obscene, pornographic, unlawful, or otherwise offensive, as determined by Arcab in its sole
                    discretion, whether or not such material may be protected by law. Arcab may, but shall not be
                    obligated to, review, monitor, or remove User Content, at Arcab’s sole discretion and at any time
                    and for any reason, without notice to you.
                    Network Access and Devices. You are responsible for obtaining the data network access necessary to
                    use the Services. Your mobile network’s data and messaging rates and fees may apply if you access or
                    use the Services from a wireless-enabled device and you shall be responsible for such rates and
                    fees. You are responsible for acquiring and updating compatible hardware or devices necessary to
                    access and use the Services and Applications and any updates thereto. Arcab does not guarantee that
                    the Services, or any portion thereof, will function on any particular hardware or devices. In
                    addition, the Services may be subject to malfunctions and delays inherent in the use of the Internet
                    and electronic communications.
                </p>
                <h3>Payment</h3>
                <p>You understand that use of the Services may result in charges to you for the services you receive
                    from a Third Party Provider. After you have received services obtained through your use of the Arcab
                    mobile application, Arcab will facilitate your payment of the applicable Charges on behalf of the
                    Third Party Provider as the Third Party Provider’s limited payment collection agent. Payment of the
                    Charges in such manner shall be considered the same as payment made directly by you to the Third
                    Party Provider. Charges will be inclusive of applicable taxes where required by law. Charges paid by
                    you are final and non-refundable, unless otherwise determined by Arcab. Arcab will respond
                    accordingly to any request from a Third Party Provider to modify the Charges for a particular
                    service. Arcab vouchers or Arcab credit will facilitate the only mode of payment provided for the
                    Services provided by the Third Party Provider.
                    As between you and Arcab, Arcab reserves the right to establish, remove and/or revise Charges for
                    any or all services or goods obtained through the use of the Services at any time in Arcab’s sole
                    discretion. Further, you acknowledge and agree that Charges applicable in certain geographical areas
                    may increase substantially during times of high demand. Arcab will use reasonable efforts to inform
                    you of Charges that may apply, provided that you will be responsible for Charges incurred under your
                    Account regardless of your awareness of such Charges or the amounts thereof. Arcab may from time to
                    time provide certain users with promotional offers and discounts that may result in different
                    amounts charged for the same or similar services or goods obtained through the use of the Services,
                    and you agree that such promotional offers and discounts, unless also made available to you, shall
                    have no bearing on your use of the Services or the Charges applied to you. You may elect to cancel
                    your request for services or goods from a Third-Party Provider at any time prior to such Third Party
                    Provider’s arrival, in which case you may be charged a cancellation fee.
                    Repair or Cleaning Fees. You shall be responsible for the cost of repair for damage to, or necessary
                    cleaning of, Third Party Provider vehicles and property resulting from your use of the Services
                    under your Account in excess of normal “wear and tear” damages and necessary cleaning (“Repair or
                    Cleaning”). In the event that a Third Party Provider reports the need for Repair or Cleaning, and
                    such Repair or Cleaning request is verified by Arcab in Arcab’s reasonable discretion, Arcab
                    reserves the right to facilitate payment for the reasonable cost of such Repair or Cleaning on
                    behalf of the Third Party Provider using your payment method designated in your Account. Such
                    amounts will be transferred by Arcab to the applicable Third Party Provider and are non-refundable.
                </p>
                <h3>Disclaimers; Limitation of Liability; Indemnity.</h3>
                <p>DISCLAIMER</p>
                <p>THE SERVICES ARE PROVIDED “AS IS” AND “AS AVAILABLE.” ARCAB DISCLAIMS ALL REPRESENTATIONS AND
                    WARRANTIES, EXPRESS, IMPLIED OR STATUTORY, NOT EXPRESSLY SET OUT IN THESE TERMS, INCLUDING THE
                    IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT. IN
                    ADDITION, ARCAB MAKES NO REPRESENTATION, WARRANTY,OR GUARANTEE REGARDING THE RELIABILITY,
                    TIMELINESS, QUALITY, SUITABILITY OR AVAILABILITY OF THE SERVICES REQUESTED THROUGH THE USE OF THE
                    SERVICES, OR THAT THE SERVICES WILL BE UNINTERRUPTED OR ERROR-FREE. ARCAB DOES NOT GUARANTEE THE
                    QUALITY, SUITABILITY, SAFETY OR ABILITY OF THIRD PARTY PROVIDERS. YOU AGREE THAT THE ENTIRE RISK
                    ARISING OUT OF YOUR USE OF THE SERVICES, AND ANY SERVICE REQUESTED IN CONNECTION THEREWITH, REMAINS
                    SOLELY WITH YOU, TO THE MAXIMUM EXTENT PERMITTED UNDER APPLICABLE LAW.</p>
                <p>LIMITATION OF LIABILITY.</p>
                <p>ARCAB SHALL NOT BE LIABLE FOR INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, PUNITIVE OR CONSEQUENTIAL
                    DAMAGES, INCLUDING LOST PROFITS, LOST DATA, PERSONAL INJURY OR PROPERTY DAMAGE RELATED TO, IN
                    CONNECTION WITH, OR OTHERWISE RESULTING FROM ANY USE OF THE SERVICES, EVEN IF ARCAB HAS BEEN ADVISED
                    OF THE POSSIBILITY OF SUCH DAMAGES. ARCAB SHALL NOT BE LIABLE FOR ANY DAMAGES, LIABILITY OR LOSSES
                    ARISING OUT OF: (i) YOUR USE OF OR RELIANCE ON THE SERVICES OR YOUR INABILITY TO ACCESS OR USE THE
                    SERVICES; OR (ii) ANY TRANSACTION OR RELATIONSHIP BETWEEN YOU AND ANY THIRD PARTY PROVIDER, EVEN IF
                    ARCAB HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. ARCAB SHALL NOT BE LIABLE FOR DELAY OR
                    FAILURE IN PERFORMANCE RESULTING FROM CAUSES BEYOND ARCAB’S REASONABLE CONTROL. IN NO EVENT SHALL
                    ARCAB’S TOTAL LIABILITY TO YOU IN CONNECTION WITH THE SERVICES FOR ALL DAMAGES, LOSSES AND CAUSES OF
                    ACTION EXCEED _______________.
                    ARCAB’S SERVICES MAY BE USED BY YOU TO REQUEST AND SCHEDULE TRANSPORTATION, BUT YOU AGREE THAT ARCAB
                    HAS NO RESPONSIBILITY OR LIABILITY TO YOU RELATED TO ANY TRANSPORTATIION SERVICES PROVIDED TO YOU BY
                    THIRD PARTY PROVIDERS OTHER THAN AS EXPRESSLY SET FORTH IN THESE TERMS.
                    THE LIMITATIONS AND DISCLAIMER IN THIS SECTION DO NOT PURPORT TO LIMIT LIABILITY OR ALTER YOUR
                    RIGHTS AS A CONSUMER THAT CANNOT BE EXCLUDED UNDER APPLICABLE LAW.
                </p>
                <p>INDEMNITY.</p>
                <p>You agree to indemnify and hold Arcab and its officers, directors, employees and agents harmless from
                    any and all claims, demands, losses, liabilities, and expenses (including attorneys’ fees) arising
                    out of or in connection with: (i) your use of the Services or services or goods obtained through
                    your use of the Services; (ii) your breach or violation of any of these Terms; (iii) Arcab’s use of
                    your User Content; or (iv) your violation of the rights of any third party, including Third Party
                    Providers.</p>
                <h3>Governing Law; Arbitration.</h3>
                <p>This Agreement shall be governed by UAE law, without regard to the choice or conflicts of law
                    provisions of any jurisdiction, and any disputes, actions, claims or causes of action arising out of
                    or in connection with this Agreement or the Arcab Service or Software shall be subject to the
                    exclusive jurisdiction of the federal courts located in the country of United Arab Emirates. If any
                    provision of the Agreement is held to be invalid or unenforceable, such provision shall be struck
                    and the remaining provisions shall be enforced to the fullest extent under law. The failure of Arcab
                    to enforce any right or provision in this Agreement shall not constitute a waiver of such right or
                    provision unless acknowledged and agreed to by Arcab in writing. This Agreement and the documents
                    incorporated by reference therein comprise the entire agreement between you and Arcab and supersedes
                    all prior or contemporaneous negotiations, discussions or agreements, whether written or oral,
                    regarding the subject matter contained herein.
                    You agree that any dispute, claim or controversy arising out of or relating to this Agreement or the
                    breach, termination, enforcement, interpretation or validity thereof or the use of the Arcab
                    Platform or Services (collectively, "Disputes") will be settled by binding arbitration between you
                    and any relevant Affiliate in your jurisdiction, or between you and Arcab if no other Affiliate is
                    incorporated in your jurisdiction, except that each party retains the right to seek injunctive or
                    other equitable relief in a court of competent jurisdiction to prevent the actual or threatened
                    infringement, misappropriation or violation of a party's copyrights, trademarks, trade secrets,
                    patents or other intellectual property rights.
                </p>
                <h3>Other Provisions.</h3>
                <p>You may not assign or transfer these Terms in whole or in part without Arcab’s prior written
                    approval. You give your approval to Arcab for it to assign or transfer these Terms in whole or in
                    part, including to: (i) a subsidiary or affiliate; (ii) an acquirer of Arcab’s equity, business or
                    assets; or (iii) a successor by merger. No joint venture, partnership, employment or agency
                    relationship exists between you, Arcab or any Third Party Provider as a result of the contract
                    between you and Arcab or use of the Services.
                    If any provision of these Terms is held to be illegal, invalid or unenforceable, in whole or in
                    part, under any law, such provision or part thereof shall to that extent be deemed not to form part
                    of these Terms but the legality, validity and enforceability of the other provisions in these Terms
                    shall not be affected. In that event, the parties shall replace the illegal, invalid or
                    unenforceable provision or part thereof with a provision or part thereof that is legal, valid and
                    enforceable and that has, to the greatest extent possible, a similar effect as the illegal, invalid
                    or unenforceable provision or part thereof, given the contents and purpose of these Terms. These
                    Terms constitute the entire agreement and understanding of the parties with respect to its subject
                    matter and replaces and supersedes all prior or contemporaneous agreements or undertakings regarding
                    such subject matter. In these Terms, the words “including” and “include” mean “including, but not
                    limited to.”
                </p>
            </div>

            <div class="bottom-actions">
                    <a href="/options/legal"><img src="/img/back.svg"></a>

            </div>
        </div>
</body>


</html>
