<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>arcab | PAY</title>
    <% include _main %>
    <link rel="stylesheet" href="/css/topay.css">
</head>

<body>
    <div class="arc-container-main">
        <div class="arc-profile-header">
            <div class="title">
                <h2>How to Pay?</h2>
            </div>
        </div>
        <div class="data-link-container">
            <h3>Instructions</h3>
            <div class="steps">
                <h4>At the start of every month you may
                    Pay your driver directly in cash
                    or
                    Make a payment at our office in Amity University Dubai, UAE.</h4>
                    <img class="pay-illustration" src="/img/pay-illustration.svg">
            </div>


        </div>
        <div class="bottom-actions">
            <button><a href="https://goo.gl/maps/i8iWRhP5QZrt8hbG6">LOCATE OFFICE</a></button>

        </div>
    </div>
</body>

</html>