<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vocuher Code</title>
    <% include _main %>
    <script defer src="/js/voucher.js"></script>
    <link rel="stylesheet" href="/css/voucher.css">
</head>

<body>
    <div class="arc-container-main">
        <div class="arc-profile-header">
            <div class="title">Enter Voucher Code</div>
        </div>
        <div class="data-link-container">
            <div class="inps">
                <div class="inps-grp">
                    <label>VOUCHER CODE</label>
                    <input id="voucherCode" placeholder="789501234" type="number">
                </div>
            </div>
            <div class="explain">
                <p>An amount of AED ‘50’ will be added to your arcab Pass.</p>
            </div>
        </div>
        <div class="bottom-actions">
            <img class="back-button" src="/img/back.svg">
            <div class="right-box">
                <h4><span>PAY</span></h4>
            </div>
        </div>
    </div>
</body>

</html>